<h2>{{ objEjercicio.name | uppercase }}</h2>
<div><span>id:</span>{{objEjercicio.id}}</div>
<div>
  <label>Nombre:
    <input [(ngModel)]="objEjercicio.name" placeholder="name">
  </label>
  <span>name:</span>{{ objEjercicio.name }}
</div>
<hr>
<h2>Listado de Ejercicios</h2>
<ul class="ejercicios" *ngFor="let item of listEjercicios">
  <li (click)="onSelectEjercicio(item)" [class.selected]="item === ejercicioSeleccionado" routerLink="/detalle/{{item.id}}">
    <span class="badge">{{ item.id }}</span>:{{ item.name }}
  </li>
</ul>
